body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
  }
  
header {
  display: flex;
  align-content: center;
  padding: 20px;
  background-color: purple;
}
nav{
  display: flex;
}

.nav{
  background-color: red;
  margin : 10px;
}

.luc{
  background-color: blue;
  position: absolute;
}
.footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin-bottom: 0;
}